html {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
    font-size: 20px;
}

.first {
    /* ここにGoogle Fontsを指定します */
    
    font-family: "Josefin Sans", sans-serif; 
    font-optical-sizing: auto; 
    font-weight: weight; 
    font-style: normal; 
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 2px 2px 2px skyblue;
    border-bottom: 3px solid rgba(115, 115, 114);
}

.blue {
    color: skyblue;
}

.pink {
    color: rgb(255, 192, 203);
}

#basic {
    font-weight: bold;
}

#basic p {
    font-weight: bold;
}



    